#dependencies
*.env
node_modules/
/package-lock.json
/notes.txt
/.prettierrc
/.eslintrc.json

#misc
/server/package-lock.json

/server/public/uploads/img
/server/public/uploads/pdf

/server/dev-data/img
/server/dev-data/pdf